.footer{
    background: #262630;
    font-family: "Raleway", sans-serif;
    color: #F8F8FE;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: 100%;
}

.footer_container {
    padding: 60px;
}

.footer_divider{
    margin-top: 60px;
    width: 100%;
    border: none;
    border-top: 1px solid #34353F;
}

.footer_top {
    display: flex;
    align-items: flex-start;
    gap: 4px;
    width: 100%;
    margin-bottom: 60px;
    box-sizing: border-box;
}

.footer_left {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 216px;
    flex-shrink: 0;
}

.footer_icons {
    display: flex;
    gap: 30px;
    width: 216px;
    height: 32px;
    margin-bottom: 30px;
    cursor: pointer;
}

.footer_telegram_icon {
    width: 32px;
    height: 32px;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756335010/Telegram.png');
    background-size: contain;
    background-repeat: no-repeat;
    flex: none;
    border-radius: 4px;
    transition: background-image 0.3s ease;
}
.footer_telegram_icon:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756335010/Telegram_hover.png');
}
.footer_facebook_icon {
    width: 32px;
    height: 32px;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756335008/Facebook.png');
    background-size: contain;
    background-repeat: no-repeat;
    flex: none;
    border-radius: 4px;
}
.footer_facebook_icon:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756335008/Facebook_hover.png');
}
.footer_instagram_icon {
    width: 32px;
    height: 32px;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756335009/Instagram.png');
    background-size: contain;
    background-repeat: no-repeat;
    flex: none;
    border-radius: 4px;
    transition: background-image 0.3s ease;
}
.footer_instagram_icon:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756335009/Instagram_hover.png');
}
.footer_x_icon {
    width: 32px;
    height: 32px;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756335011/X.png');
    background-size: contain;
    background-repeat: no-repeat;
    flex: none;
    border-radius: 4px;
    transition: background-image 0.3s ease;
}
.footer_x_icon:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756335012/X_hover.png');
}

.footer_help button {
    width: 216px;
    height: 43px;
    border: none;
    text-decoration: none;
    border-radius: 10px;
    background: linear-gradient(90deg, #4E55D4 0%, #3429B0 100%);
    color: #F8F8FE;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    transition: background 0.3s ease;
}

.footer_help button:hover {
    background: linear-gradient(90deg, #3429b0, #202588);
}


.footer_help,
.footer_help button,
.footer_help:hover {
    text-decoration: none !important;
}

.footer_columns {
    margin-left: 350px;
    display: flex;
    flex-wrap: wrap;
    gap: 330px;
}

.footer_col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.footer_col_title {
    margin-bottom: 30px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #F8F8FE;
    height: 23px;
    cursor: pointer;
    width: fit-content;
    transition: color 0.3s ease;

}
.footer_col_title:hover {
    color: #4E55D4;
}

.footer_col_links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}

.footer_bottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 60px;
    width: 100%;
    box-sizing: border-box;
}

.footer_logo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    width: 158px;
    height: 56px;
}

.footer_logo {
    width: 158px;
    height: 56px;
    object-fit: contain;
}

.footer_text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.footer_main_text {
    font-size: 20px;
    line-height: 23px;
    font-weight: 300;
    color: #F8F8FE;
}

.footer_main_date{
    font-weight: 200;
    font-size: 20px;
    font-family: "Inter", sans-serif;
}

.footer_links_vertical {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.footer_link_line {
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer_link_item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer_link_item:hover .footer_link {
    color: #F8F8FE;
}

.footer_link_item:hover .footer_link_arrow {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756334382/Footer_arrow_hover.png');
}

.footer_link {
    font-weight: 300;
    font-size: 20px;
    color: #9999A1;
    text-decoration: none;
    white-space: nowrap;
    transition: color 0.3s ease;
}

.footer_link:hover {
    color: #F8F8FE;
}

.footer_link_arrow {
    width: 24px;
    height: 24px;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756334383/Footer_arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    flex: none;
    transition: background-image 0.3s ease;
}

.footer_col_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #9999A1;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer_col_link:hover {
    color: #F8F8FE;
}

@media (max-width: 1920px) {
    .footer_columns {
        gap: 250px;
        margin-left: 300px;
    }
}

@media (max-width: 1680px) {

    .footer_telegram_icon, .footer_facebook_icon,  .footer_instagram_icon, .footer_x_icon {
        width: 28px;
        height: 28px;
    }

    .footer_logo {
        width: 158px;
        height: 56px;
    }

    .footer_help button {
        width: 180px;
        height: 35px;
        font-size: 17px;
    }

    .footer_columns {
        margin-left: 205px;
        gap: 190px;
    }

    .footer_col_link, .footer_col_title {
        font-size: 20px;
    }

    .footer_logo {
        width: 140px;
        height: 50px;
    }

    .footer_main_text {
        font-size: 20px;
    }

    .footer_link {
        font-size: 20px;
    }

}

@media (max-width: 1440px) {

    .footer_telegram_icon, .footer_facebook_icon,  .footer_instagram_icon, .footer_x_icon {
        width: 28px;
        height: 28px;
    }

    .footer_logo {
        width: 162px;
        height: 56px;
    }

    .footer_help button {
        width: 180px;
        height: 40px;
        font-size: 16px;
    }

    .footer_columns {
        margin-left: 130px;
        gap: 160px;
    }

    .footer_col_link, .footer_col_title {
        font-size: 18px;
    }

    .footer_logo {
        width: 120px;
        height: 50px;
    }

    .footer_main_text {
        font-size: 19px;
    }

    .footer_link {
        font-size: 19px;
    }

}

@media (max-width: 1280px) {

    .footer_telegram_icon, .footer_facebook_icon,  .footer_instagram_icon, .footer_x_icon {
        width: 27px;
        height: 27px;
    }

    .footer_logo {
        width: 158px;
        height: 56px;
    }

    .footer_help button {
        width: 170px;
        height: 35px;
        font-size: 15px;
    }

    .footer_columns {
        margin-left: 120px;
        gap: 150px;
    }

    .footer_col_link, .footer_col_title {
        font-size: 18px;
    }

    .footer_logo {
        width: 120px;
        height: 50px;
    }

    .footer_main_text {
        font-size: 18px;
    }

    .footer_link {
        font-size: 18px;
    }

}