.registration_complete_overlay {
    position: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1500;
    box-sizing: border-box;
}

.registration_complete_modal {
    font-family: "Raleway", sans-serif;
    position: relative;
    background: #262630;
    border-radius: 20px;
    width: 850px;
    height: 256px;
    padding: 30px 45px;
    box-sizing: border-box;
    color: #F8F8FE;
    line-height: 1.45;
    cursor: default;
    text-align: center;
    justify-content: center;
}

.registration_complete_close_icon {
    top: 15px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756244998/Close.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.3s ease;
}

.registration_complete_close_icon:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756245190/Close_light_hover.png');
}

.registration_complete_title {
    font-weight: 600;
    font-size: 32px;
    text-align: center;
}

.registration_complete_subtitle {
    margin-top: 20px;
    font-weight: 400;
    font-size: 16px;
    color: #9999A1;
    line-height: 1.4;
    text-align: center;
}

.registration_complete_email{
    font-family: "Inter", sans-serif;
    font-weight: 200;
    color: #F8F8FE;
}

.registration_complete_button_block {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.registration_complete_button {
    border: none;
    border-radius: 15px;
    padding: 15px;
    width: 480px;
    height: 52px;
    color: #F8F8FE;
    background: #4E55D4;
    font-size: 16px;
    text-align: center;
    font-family: inherit;
    letter-spacing: inherit;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.2s ease;
    box-sizing: border-box;
}

.registration_complete_button:hover {
    background: #3429B0;
}
