.no-layout header,
.no-layout .footer {
    display: none !important;
}

.error_page {
    background: #262630;
    height: 91vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    color: white;
    font-family: "Inter", sans-serif;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.error_image {
    width: 260px;
    height: 260px;
    background-image: url("https://res.cloudinary.com/da9jqs8yq/image/upload/v1763916596/Search_q3bwsh.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 30px;
    position: relative;
    z-index: 2;
}

.error_title {
    font-size: 38px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 16px;
    position: relative;
    z-index: 2;
}

.error_text {
    font-size: 18px;
    line-height: 1.6;
    color: #cfd0d7;
    max-width: 500px;
    position: relative;
    z-index: 2;
}

@media (max-width: 1920px) {

    .error_image {
        width: 240px;
        height: 240px;
    }

    .error_title {
        font-size: 38px;

    }

    .error_text {
        font-size: 18px;
    }


}

@media (max-width: 1680px) {

    .error_image {
        width: 230px;
        height: 230px;
    }

    .error_title {
        font-size: 37px;

    }

    .error_text {
        font-size: 18px;
    }


}

@media (max-width: 1440px) {

    .error_image {
        width: 220px;
        height: 220px;
    }

    .error_title {
        font-size: 36px;

    }

    .error_text {
        font-size: 17px;
    }


}

@media (max-width: 1280px) {

    .error_image {
        width: 200px;
        height: 200px;
    }

    .error_title {
        font-size: 35px;

    }

    .error_text {
        font-size: 16px;
    }


}
