.favorite_page {
    background-color: #262630;
    color: #F8F8FE;
    padding: 120px 60px 60px;
    box-sizing: border-box;
    min-height: 742px;
}

.favorite_title {
    font-size: 32px;
    font-weight: 600;
}

.favorite_subtitle {
    font-size: 24px;
    font-weight: 400;
    margin-top: 300px;
    text-align: center;
}

.favorite_list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 30px;
}

.favorite_actor_card {
    position: relative;
    width: 283px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 16px;
    overflow: hidden;
}

.favorite_actor_card:hover {
    transform: scale(1.05);
}

.favorite_actor_card_img {
    width: 100%;
    height: 418px;
    object-fit: cover;
    border-radius: 16px;
}

.favorite_actor_card::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 16px;
    transition: background-color 0.3s ease;
    pointer-events: none;
    z-index: 1;
}

.favorite_actor_card:hover::after {
    background-color: rgba(0, 0, 0, 0.4);
}

.favorite_actor_card_header {
    position: absolute;
    top: 10px;
    right: 10px;
    gap: 5px;
    display: flex;
    opacity: 1;
    z-index: 2;
}

.favorite_actor_card_save {
    width: 36px;
    height: 36px;
    cursor: pointer;
    background-size: contain;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757623597/Bookmark_light_2_ceo99g.png');
    background-repeat: no-repeat;
    transition: transform 0.3s ease;
}

.favorite_actor_card_save:hover {
    transform: scale(1.1);
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757623597/Bookmark_light_3_h4jvhz.png');
}
.favorite_actor_card_text {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #F8F8FE;
    font-family: 'Raleway', sans-serif;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}


.favorite_actor_card:hover .favorite_actor_card_text {
    opacity: 1;
}

.favorite_actor_card_rating {
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    margin-bottom: 5px;
}

.favorite_actor_card_line1,
.favorite_actor_card_line2 {
    font-size: 14px;
    font-family: "Inter", sans-serif;
    color: #F8F8FE;
}

.favorite_actor_card_linedate{
    font-family: "Inter", sans-serif;
}

.favorite_actor_card_line2 {
    margin-top: 5px;
}


@media (max-width: 1680px) {

    .favorite_page {
        padding: 110px 60px 60px;
    }

    .favorite_title {
        font-size: 28px;
    }

    .favorite_subtitle {
        font-size: 22px;
    }

    .favorite_actor_card {
        width: 230px;
    }

    .favorite_actor_card_img {
        height: 300px;
    }

    .favorite_actor_card_save {
        width: 30px;
        height: 30px;
    }

    .favorite_actor_card_rating {
        font-weight: 500;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .favorite_actor_card_line1,
    .favorite_actor_card_line2,
    .favorite_actor_card_linedate {
        font-size: 16px;
        color: #F8F8FE;
    }



}

@media (max-width: 1440px) {

    .favorite_page {
        padding: 95px 60px 60px;
    }

    .favorite_title {
        font-size: 25px;
    }

    .favorite_subtitle {
        font-size: 20px;
    }

    .favorite_actor_card {
        width: 230px;
    }

    .favorite_actor_card_img {
        height: 300px;
    }

    .favorite_actor_card_save {
        width: 30px;
        height: 30px;
    }

    .favorite_actor_card_rating {
        font-weight: 500;
        font-family: "Inter", sans-serif;
        font-size: 30px;
        margin-bottom: 5px;
    }

    .favorite_actor_card_line1,
    .favorite_actor_card_line2,
    .favorite_actor_card_linedate {
        font-size: 15px;
        color: #F8F8FE;
    }



}

@media (max-width: 1280px) {

    .favorite_page {
        padding: 90px 60px 60px;
    }

    .favorite_title {
        font-size: 25px;
    }

    .favorite_subtitle {
        font-size: 18px;
    }

    .favorite_actor_card {
        width: 200px;
    }

    .favorite_actor_card_img {
        height: 280px;
    }

    .favorite_actor_card_save {
        width: 28px;
        height: 28px;
    }

    .favorite_actor_card_rating {
        font-weight: 500;
        font-family: "Inter", sans-serif;
        font-size: 28px;
        margin-bottom: 5px;
    }

    .favorite_actor_card_line1,
    .favorite_actor_card_line2,
    .favorite_actor_card_linedate {
        font-size: 14px;
        color: #F8F8FE;
    }



}