.premium_page {
    background-color: #262630;
    color: #F8F8FE;
    font-family: 'Raleway', sans-serif;
    padding-top: 80px;
    padding-bottom: 95px;
    overflow: hidden;
    box-sizing: border-box;
}

.premium_header {
    display: flex;
    align-items: center;
    margin-top: 120px;
    margin-left: 60px;
}

.premium_back {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #F8F8FE;
    font-size: 30px;
    font-weight: 500;
    cursor: pointer;
}

.premium_back_icon {
    width: 35px;
    height: 35px;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756254344/Back.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.premium_back:hover {
    color: #4E55D4;
}

.premium_back:hover .premium_back_icon  {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756254358/Back_hover.png');
}

.premium_row {
    margin-left: 60px;
    align-items: center;
    width: 90%;
    height: 321px;
}

.premium_row::before {
    content: '';
    position: absolute;
    top: 28%;
    left: 29%;
    width: 1px;
    height: 253px;
    background-color: #34353F;
}

.premium_title_line {
    white-space: nowrap;
    margin-top: 60px;
    gap: 55%;
    display: flex;
    font-size: 30px;
}

.premium_title{
    color: #FFFFFF;
    font-size: 30px;

}

.premium_price{
    font-size: 25px;
    text-align: center;
    margin-top: 5px;
    font-weight: 400;
    font-family: "Inter", sans-serif;
}

.premium_right {
    border-right: 1px solid #34353F;
}

.premium_line {
    display: flex;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #34353F;
}

.premium_line:last-child {
    border-bottom: none;
}

.premium_feature_text {
    font-size: 25px;
    color: #9999A1;
    flex: 1;
    font-weight: 500;

}

.premium_line_icon {
    width: 40px;
    height: 40px;
    margin-right: 29%;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756263887/Done.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.premium_button_container {
    display: flex;
    justify-content: center;
    margin-left: 31%;
}

.premium_button {
    background: linear-gradient(90deg, #3429B0, #4E55D4);
    color: #F8F8FE;
    font-size: 24px;
    font-weight: 200;
    padding: 10px 25px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.premium_button:hover {
    background: linear-gradient(90deg, #202588, #3429B0);
}

@media (max-width: 1920px) {

    .premium_page {
        padding-top: 80px;
        padding-bottom: 25px;
    }

    .premium_back {
        font-size: 30px;
    }

    .premium_back_icon {
        width: 35px;
        height: 35px;
    }

    .premium_row {
        width: 90%;
    }

    .premium_row::before {
        top: 36%;
        left: 45%;
    }

    .premium_title_line {
        gap: 58%;
    }

    .premium_title {
        font-size: 28px;
    }

    .premium_feature_text{
        font-size: 25px;
    }

    .premium_button_container {
        margin-top: 30px;
        margin-left: 40%;
    }

    .premium_line_icon {
        margin-right: 22%;
        width: 40px;
        height: 40px;
    }

    .premium_button_container {
        margin-left: 45%;
    }

    .premium_button {
        font-size: 20px;
        padding: 10px 15px;
    }



}

@media (max-width: 1680px) {

    .premium_page {
        padding-top: 80px;
        padding-bottom: 25px;
    }

    .premium_back {
        font-size: 30px;
    }

    .premium_back_icon {
        width: 35px;
        height: 35px;
    }

    .premium_row {
        width: 90%;
    }

    .premium_row::before {
        top: 30%;
        left: 45%;
    }

    .premium_title_line {
        gap: 55%;
    }

    .premium_title {
        font-size: 28px;
    }

    .premium_feature_text{
        font-size: 25px;
    }

    .premium_button_container {
        margin-top: 30px;
        margin-left: 40%;
    }

    .premium_line_icon {
        margin-right: 22%;
        width: 40px;
        height: 40px;
    }

    .premium_button_container {
        margin-left: 45%;
    }

    .premium_button {
        font-size: 20px;
        padding: 10px 15px;
    }



}

@media (max-width: 1440px) {

    .premium_page {
        padding-top: 70px;
    }

    .premium_back {
        font-size: 28px;
    }

    .premium_back_icon {
        width: 33px;
        height: 33px;
    }

    .premium_row {
        width: 90%;
    }

    .premium_row::before {
        top: 41%;
        left: 45%;
    }

    .premium_title_line {
        gap: 52%;
    }

    .premium_title {
        font-size: 26px;
    }

    .premium_feature_text{
        font-size: 22px;
    }

    .premium_button_container {
        margin-top: 30px;
        margin-left: 40%;
    }

    .premium_line_icon {
        margin-right: 22%;
        width: 35px;
        height: 35px;
    }

    .premium_button_container {
        margin-left: 47%;
    }

    .premium_button {
        font-size: 20px;
        padding: 10px 15px;
    }



}

@media (max-width: 1280px) {

    .premium_page {
        padding-top: 70px;
        padding-bottom: 30px;
        box-sizing: border-box;
    }

    .premium_back {
        font-size: 25px;
    }

    .premium_back_icon {
        width: 30px;
        height: 30px;
    }

    .premium_row {
        width: 90%;
    }

    .premium_row::before {
        top: 34%;
        left: 45%;
    }

    .premium_title_line {
        gap: 50%;
    }

    .premium_title {
        font-size: 25px;
    }

    .premium_feature_text{
        font-size: 20px;
    }

    .premium_button_container {
        margin-top: -10px;
        margin-left: 40%;
    }

    .premium_line_icon {
        margin-right: 22%;
        width: 30px;
        height: 30px;
    }

    .premium_button_container {
        margin-left: 47%;
    }

    .premium_button {
        font-size: 20px;
        padding: 10px 15px;
    }



}