.search_results_page {
    min-height: 100vh;
    background-color: #262630;
    padding-top: 70px;
    font-family: 'Raleway', sans-serif;
}

.search_results_container {
    max-width: 1920px;
    margin: 0;
    padding: 60px;
    min-height: calc(100vh - 130px);
}

.search_results_container.centered {
    padding: 60px;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 70px);
    width: 100%;
    max-width: 100%;
}

.search_results_container.centered .search_results_title {
    align-self: flex-start;
}

.search_results_container.centered .search_no_results {
    margin: 200px auto 0;
    align-self: center;
}

.search_results_title {
    font-size: 46px;
    font-weight: 700;
    color: #F8F8FE;
    margin: 0 0 40px 0;
    line-height: 1.2;
    font-family: 'Inter', sans-serif;
}

.search_results_section {
    margin-bottom: 60px;
}

.search_section_title {
    font-size: 32px;
    font-weight: 600;
    color: #F8F8FE;
    margin: 0 0 30px 0;
    font-family: 'Raleway', sans-serif;
}

.search_actors_grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

.search_actor_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
}

.search_actor_card:hover {
    transform: scale(1.05);
}

.search_actor_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.search_actor_card:hover .search_actor_image {
    transform: scale(1.05);
}

.search_actor_name {
    font-size: 16px;
    font-weight: 500;
    color: #F8F8FE;
    margin: 20px 0 2px 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
    transition: color 0.3s ease;
}

.search_actor_card:hover .search_actor_name {
    color: #4E55D4;
}

.search_actor_role {
    font-size: 14px;
    color: #aaa;
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

.search_films_grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px;
    justify-content: start;
}

.search_films_grid .search_film_card {
    position: relative;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.search_films_grid .search_film_card:hover {
    transform: scale(1.05);
}

.search_films_grid .search_film_card_link {
    text-decoration: none;
    color: inherit;
    display: block;
    position: relative;
}

.search_films_grid .search_film_poster {
    width: 293px;
    height: 428px;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 15px;
    background-color: #34353F;
    display: block;
}

.search_films_grid .search_film_title {
    font-size: 20px;
    font-weight: 300;
    color: #F8F8FE;
    margin: 0;
    line-height: 1.4;
    text-align: center;
    font-family: "Inter", sans-serif;
}

.search_films_grid .search_film_card_header {
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    position: absolute;
    top: 15px;
    right: 15px;
    gap: 10px;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.search_films_grid .search_film_card:hover .search_film_card_header {
    opacity: 1;
}

.search_films_grid .search_film_card_save {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: contain;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757623597/Bookmark_light_vf5dni.png');
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.search_films_grid .search_film_card_save:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757623598/Bookmark_light_1_uzzzgh.png');
}

.search_films_grid .search_film_card_save.active {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757623597/Bookmark_light_2_ceo99g.png');
    filter: brightness(1.3);
}

.search_films_grid .search_film_card_save.active:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757623597/Bookmark_light_3_h4jvhz.png');
}

.search_films_grid .search_film_card_repost {
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-size: contain;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757623581/group_share_light_jwpc5u.png');
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.search_films_grid .search_film_card_repost:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757623581/group_share_light_1_znohye.png');
}

.search_films_grid .search_film_action {
    position: relative;
    z-index: 1002;
}

.search_films_grid .search_film_action::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 110%;
    left: 50%;
    transform: translateX(-50%);
    background: #34353F;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 10px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.search_films_grid .search_film_action:hover::after {
    opacity: 1;
}

.search_films_grid .search_film_card_place {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.search_films_grid .search_film_card:hover .search_film_card_place {
    opacity: 1;
}

.search_films_grid .search_film_card_play {
    width: 80px;
    height: 80px;
    cursor: pointer;
    background-size: contain;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1757856085/Component_71_rwknbj.png');
    background-repeat: no-repeat;
    transition: background-image 0.3s ease;
}

.search_films_grid .search_film_card_play:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1765362013/Property_1_Video_fill_myo1nx.png');
}

.search_films_grid .search_film_card_text {
    opacity: 0;
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #F8F8FE;
    font-family: "Raleway", sans-serif;
    transition: opacity 0.3s ease;
    z-index: 2;
}

.search_films_grid .search_film_card:hover .search_film_card_text {
    opacity: 1;
}

.search_films_grid .search_film_card_rating {
    font-weight: 500;
    font-family: "Inter", sans-serif;
    font-size: 35px;
    margin-bottom: 10px;
}

.search_films_grid .search_film_card_date {
    font-family: "Inter", sans-serif;
    font-weight: 300;
}

.search_films_grid .search_film_card_line1,
.search_films_grid .search_film_card_line2 {
    font-size: 18px;
    color: #F8F8FE;
}

.search_films_grid .search_film_card_line2 {
    margin-top: 5px;
    font-size: 14px;
    color: #F8F8FE;
}

.search_no_results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 600px;
}

.search_no_results_image {
    max-width: 400px;
    width: 100%;
    height: auto;
    margin-bottom: 30px;
}

.search_no_results_text {
    color: #F8F8FE;
}

.search_no_results_title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
    color: #F8F8FE;
    font-family: 'Raleway', sans-serif;
}

.search_no_results_message {
    font-size: 18px;
    color: #8e90a0;
    font-family: 'Inter', sans-serif;
}

@media (max-width: 1920px) {

    .search_results_page {
        padding-top: 60px;
    }

    .search_results_title {
        font-size: 43px;
    }

    .search_results_container.centered .search_no_results {
        margin: 150px auto 0;
    }

    .search_no_results_image {
        max-width: 380px;
    }

    .search_no_results_title {
        font-size: 24px;
    }

    .search_no_results_message {
        font-size: 17px;
    }

    .search_films_grid {
        gap: 20px;
    }

    .search_films_grid .search_film_poster {
        width: 100%;
        height: auto;
        aspect-ratio: 293 / 428;
    }

}

@media (max-width: 1680px) {

    .search_results_page {
        padding-top: 50px;
    }

    .search_results_title {
        font-size: 42px;
    }

    .search_results_container.centered .search_no_results {
        margin: 150px auto 0;
    }

    .search_no_results_image {
        max-width: 370px;
    }

    .search_no_results_title {
        font-size: 23px;
    }

    .search_no_results_message {
        font-size: 16px;
    }

    .search_films_grid {
        gap: 25px;
    }

    .search_films_grid .search_film_poster {
        width: 100%;
        height: auto;
        aspect-ratio: 250 / 380;
    }

    .search_films_grid .search_film_card_save {
        width: 35px;
        height: 35px;
    }

    .search_films_grid .search_film_card_repost {
        width: 35px;
        height: 35px;
    }

    .search_films_grid .search_film_card_play {
        width: 70px;
        height: 70px;
    }

    .search_films_grid .search_film_card_rating {
        font-size: 30px;
    }

    .search_films_grid .search_film_card_line1,
    .search_films_grid .search_film_card_line2 {
        font-size: 16px;
    }

}

@media (max-width: 1440px) {

    .search_results_page {
        padding-top: 40px;
    }

    .search_results_title {
        font-size: 39px;
    }

    .search_results_container.centered .search_no_results {
        margin: 100px auto 0;
    }

    .search_no_results_image {
        max-width: 360px;
    }

    .search_no_results_title {
        font-size: 22px;
    }

    .search_no_results_message {
        font-size: 15px;
    }

    .search_films_grid {
        gap: 20px;
    }

    .search_films_grid .search_film_poster {
        width: 100%;
        height: auto;
        aspect-ratio: 230 / 350;
    }

    .search_films_grid .search_film_card_save {
        width: 30px;
        height: 30px;
    }

    .search_films_grid .search_film_card_repost {
        width: 30px;
        height: 30px;
    }

    .search_films_grid .search_film_card_play {
        width: 65px;
        height: 65px;
    }

    .search_films_grid .search_film_card_rating {
        font-size: 26px;
    }

    .search_films_grid .search_film_card_line1,
    .search_films_grid .search_film_card_line2 {
        font-size: 14px;
    }

}

@media (max-width: 1280px) {

    .search_results_page {
        padding-top: 30px;
    }

    .search_results_title {
        font-size: 36px;
    }

    .search_results_container.centered .search_no_results {
        margin: 100px auto 0;
    }

    .search_no_results_image {
        max-width: 350px;
    }

    .search_no_results_title {
        font-size: 20px;
    }

    .search_no_results_message {
        font-size: 15px;
    }

    .search_films_grid {
        gap: 20px;
    }

    .search_films_grid .search_film_poster {
        width: 100%;
        height: auto;
        aspect-ratio: 230 / 350;
    }

    .search_films_grid .search_film_card_save {
        width: 30px;
        height: 30px;
    }

    .search_films_grid .search_film_card_repost {
        width: 30px;
        height: 30px;
    }

    .search_films_grid .search_film_card_play {
        width: 65px;
        height: 65px;
    }

    .search_films_grid .search_film_card_text {
        bottom: 15px;
        left: 15px;
    }

    .search_films_grid .search_film_card_rating {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .search_films_grid .search_film_card_line1,
    .search_films_grid .search_film_card_line2 {
        font-size: 13px;
    }

}

