.player-overlay {
    position: fixed;
    inset: 0;
    z-index: 9999;
    background: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    user-select: none;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: transparent;
}



.center-play:focus,
.center-play:active {
    outline: none;
}
.player-window {
    position: relative;
    z-index: 999999;
    width: 80%;
    max-width: 1100px;
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.6);
}


.player-content video {
    width: 100%;
    height: auto;
    display: block;
}

.player-close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1000000 !important;
    pointer-events: auto;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("https://res.cloudinary.com/da9jqs8yq/image/upload/v1763684183/Menu_dbeze6.png");
}

.player-close:hover {
    background-image: url("https://res.cloudinary.com/da9jqs8yq/image/upload/v1763684183/Menu_1_xmt3vd.png");
}