* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.login_page {
    background-color: #262630;
    color: #F8F8FE;
    width: 100%;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.login_layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: fadeIn 0.25s ease;
}

.login_modal.has-errors {
    height: 580px;
}

.login_title {
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    font-size: 32px;
    margin-bottom: 30px;
}

.login_form {
    width: 480px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login_input_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}

.login_input {
    background: #34353F;
    border: 1px solid #838387;
    border-radius: 15px;
    color: #F8F8FE;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: 16px;
    outline: none;
    width: 100%;
    gap: 20px;
    box-sizing: border-box;
    height: 52px;
    padding: 15px;
    transition: border-color 0.3s ease, height 0.3s ease, padding-top 0.3s ease;
}

.login_input::placeholder {
    color: transparent;
}

.login_input:focus {
    border-color: #F8F8FE;
    height: 69px;
    padding-top: 28px;
}

.login_input:not(:placeholder-shown):not(:focus) {
    height: 69px;
    padding-top: 28px;
    border-color: #838387;
}

.login_input:focus ~ label,
.login_input:not(:placeholder-shown) ~ label {
    top: 15px;
    font-size: 12px;
    color: #9999A1;
}

.login_input_block label {
    position: absolute;
    left: 15px;
    top: 18px;
    font-size: 16px;
    font-weight: 400;
    color: #838387;
    pointer-events: none;
    transition: top 0.3s ease, font-size 0.3s ease, color 0.3s ease;
    z-index: 1;
}

.login_input:focus ~ label,
.login_input:not(:placeholder-shown) ~ label {
    top: 15px;
    font-size: 12px;
    color: #9999A1;
}

.login_input_block.active label {
    top: 6px;
    font-size: 12px;
}

.login_password_container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.login_password_wrapper {
    position: relative;
    width: 100%;
    margin-top: 15px;
}

.login_input.password_input {
    padding-right: 50px;
    transition: border-color 0.3s ease, height 0.3s ease, padding-top 0.3s ease;
}

.login_input.password_input {
    padding-right: 50px;
}

.login_input.error {
    border-color: #DD5254 !important;
}

.login_input.error:focus,
.login_input.error:not(:placeholder-shown) {
    border-color: #DD5254 !important;
}

.login_error_text {
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-family: "Inter", sans-serif;
    color: #DD5254;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

.login_error_global {
    margin-top: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
    font-family: "Inter", sans-serif;
    color: #DD5254;
    font-weight: 300;
    font-size: 14px;
    text-align: left;
    width: 100%;
}

.global_error {
    display: flex;
    margin-bottom: 12px;
}

.login_input_error_local {
    border-color: #DD5254 !important;
}

.login_error_icon {
    width: 18px;
    height: 18px;
    display: inline-block;
    flex-shrink: 0;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756247044/Warning.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.login_toggle_password {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    user-select: none;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login_eye_icon {
    width: 25px;
    height: 25px;
}

.login_eye_icon.login_eye_open {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756247246/Eye_open.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.login_eye_icon.login_eye_closed {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756247242/Eye_close.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.login_block {
    margin-top: 15px;
    margin-bottom: 20px;
}

.login_button {
    color: #F8F8FE;
    font-size: 16px;
    border: none;
    border-radius: 15px;
    transition: background 0.3s ease;
    width: 480px;
    height: 52px;
    font-family: inherit;
    letter-spacing: inherit;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    background: rgba(78, 85, 212, 0.5);
}

.login_button.valid {
    cursor: pointer;
    opacity: 1;
    background: #4E55D4;
}

.login_button.valid:hover {
    background: #3429B0;
}

.login_forgot_link {
    background: none;
    border: none;
    color: #F8F8FE;
    cursor: pointer;
    font-size: 16px;
    font-weight: 400;
    font-family: inherit;
    text-align: center;
    display: block;
    text-decoration: none;
    width: 100%;
    transition: color 0.3s ease;
    margin-bottom: 30px;
    padding: 0;
}

.login_forgot_link:hover {
    color: #9999A1;
}

.login_remember_block {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    color: #F8F8FE;
    font-weight: 400;
    width: 480px;
}

.login_remember_wrapper {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.login_remember_wrapper span {
    cursor: pointer;
    user-select: none;
}

.login_custom_checkbox {
    position: relative;
    width: 16px;
    height: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246258/Checkbox.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-image 0.2s ease;
}

.login_custom_checkbox:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246334/Checkbox_hover.png');
}

.login_custom_checkbox.login_checked {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246397/Checkbox_active.png');
}

.login_custom_checkbox.login_checked:hover {
    background-image: url('https://res.cloudinary.com/da9jqs8yq/image/upload/v1756246407/Checkbox_active_hover.png');
}

.login_checkbox_icon {
    display: none;
}

.login_checkbox_input {
    display: none;
}

.login_register_block {
    margin-bottom: 10px;
    display: flex;
    font-size: 16px;
    color: #aaa;
    width: 480px;
}

.login_register_link {
    background: none;
    border: none;
    color: #F8F8FE;
    cursor: pointer;
    font-weight: 400;
    font-size: 16px;
}

.login_register_link:hover {
    text-decoration: underline;
}

.login_register_link:hover {
    text-decoration: underline;
}

.login_terms_block {
    font-size: 14px;
    font-weight: 400;
    color: #9999A1;
    width: 480px;
    text-align: left;
    line-height: 1.4;
}

.login_terms_block a {
    color: #4E55D4;
    text-decoration: underline;
    white-space: pre-line;
    word-break: break-word;
    overflow-wrap: break-word;
}

.login_terms_block a:hover {
    color: #3429B0;
}

input::-ms-reveal {
    display: none;
}